@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Lexend+Deca&display=swap');

:root {
    --bg-color: #0A0C1C;
    --mask-color: #AB5CDB;
    --container-bg-color: #1B1937;
    --white: #FFFFFF;
}


.inter-bold {
    font-weight: 700;
}

.inter-regular {
    font-weight: 400;
}

.lexend-deca-regular {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html, body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--white);
}

span {
    color: var(--mask-color);
}

h2 {
    font-size: 1.5rem;
}

.bottom-content p {
    font-size: 0.75rem;
}


.image-desktop {
    object-fit: cover;
    border-radius: 0 8px 8px 0;
}

.image-mobile {
    display: none;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    background-color: var(--container-bg-color);
    width: 1110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}



.bottom {
    display: flex;

}

img {
    width: 100%;
}



#image-container {
    width: 50%;
}

#content-container {
    width: 50%;
}